lista1/preguica
lista1/aqueleFlauReverso
lista1/aqueleFlau
lista1/codigoSecreto
lista1/criandoZumbi
lista1/multMatriz
lista1/testeFork
lista2/vetorIdenticos
lista2/in.in
lista2/butters
lista2/butters2
lista2/aleatoriosIdenticos
trabalho/quase_primos_malucos4.c
trabalho/in.in
