lista1/preguica
lista1/aqueleFlauReverso
lista1/aqueleFlau
lista1/codigoSecreto
lista1/criandoZumbi
lista1/multMatriz
lista1/testeFork
lista2/vetorIdenticos
lista2/in.in
lista2/butters
lista2/butters2
lista2/aleatoriosIdenticos
trabalho/in.in
trabalho/quaseprim1
trabalho/quaseprim
trabalho/quaseprim2
trabalho/quaseprim3
trabalho/quaseprim4
trabalho/quaseprim6
trabalho/quaseprim5
trabalho/samefile
trabalho/quase_primos_malucos5.cZone.Identifier
